# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Output videos
*.avi

# Input videos
*.mp4
!face.mp4

# Virtual environments
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
